* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-areas: "header header header" "aside main main" "footer footer footer";
	grid-gap: 1rem;
	grid-template-columns: repeat(3, auto); 
	grid-template-rows: auto 100vh auto;
}

.header {
	grid-area: header;
}

.aside {
	grid-area: aside;
	width: 400px;
}

.aside img {
	width: 100%;
	height: 100%;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}

.header, .aside, .main, .footer {
	background: #BC20E2; 
    color: #FDFDFD; 
}